@model Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var classname = Model.Customer.Count > 0 ? "popular" : null;
}
<h2 class="@classname">@Model.Movie.Name</h2>

@if(Model.Customer.Count == 0)
{
    <text>No one has rented</text>
}
else
{
    <ul>
        @foreach(var customer in Model.Customer)
        {
            <li>@customer.Name</li>
        }
    </ul> 
}

